table { 
border-collapse: collapse;
}
td, th { 
border:1px solid #333; padding:6px; text-align:center; 
}
a {
color:black;
text-decoration: none; 
}
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}