body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-panel {
width: 95%;
}

.card-form {

    width: 75%;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #c03a7a;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: slideInRight 0.5s ease;
} 

.card-form h3 {
  margin-bottom: 20px;
  font-weight: 600px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.u3s;
}

input:focus {
  box-shadow: 0 0 0 2px #ffffff;
  background: white;
}

button {
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(45deg, #6a82fb, #fc5c7d);
  color: white;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

